.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login_box {
    width: 50%;
    padding: 40px;
    margin-bottom: 5rem;
    background: linear-gradient(#141e30, #243b55);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login_box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login_box .user_box {
    position: relative;
}

.login_box .user_box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login_box .user_box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: transform .5s, color .5s, font-size .5s;
    transform-origin: left top;
}

.login_box .user_box input:focus ~ label,
.login_box .user_box input:valid ~ label {
    transform: translateY(-20px);
    color: #03e9f4;
    font-size: 12px;
}

.login_box form button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: 1px solid #03e9f4;
    background-color: transparent;
}

.login_box button:hover {
    cursor: pointer;
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .login_box {
        flex: 1 0 100%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
}