@media (min-width: 320px) {
  .header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 20px;
    overflow-x: hidden;
  }

  .hero {
    display: none;
  }

  .title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
  }

  .title > span:first-of-type {
    font-family: var(--font-dancing-script), sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    transform: rotate(-3deg);
  }

  .title > span:last-of-type {
    font-size: 1.6rem;
    width: 100vw;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  .expierence {
    width: 100vw;
    font-size: 1.4rem;
    text-align: center;
  }

  .img_wrapper {
    width: calc(100vw - 70px);
    height: 100vw;
    background-color: black;
    overflow: hidden;
    border-radius: var(--m3-radius);
    position: relative;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .expertise {
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    width: 90%;
  }
}

@media (min-width: 425px) {
  .img_wrapper {
    width: 80%;
  }

  .expertise {
    width: 90%;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto);
    padding: 0;
    max-height: 100vh;
    justify-items: center;
  }

  .hero {
    display: block;
    min-height: 100vh;
    max-height: 100vh;
    grid-row: 1/-1;
    grid-column: 1/2;
    position: relative;
    width: 100%;
  }

  .title,
  .img_wrapper,
  .expertise {
    grid-column: 2/-1;
  }

  .title {
    grid-row: 1/2;
    margin-top: 1rem;
  }

  .title span {
    width: 100%;
  }

  .title span:first-of-type {
    font-size: 2rem;
  }

  .title span:last-of-type {
    font-size: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .img_wrapper {
    grid-row: 2/4;
    width: calc(100vw - 150%);
    height: 35vw;
    align-self: center;
  }

  .expertise {
    grid-row: 4/-1;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1028px) {
  .title {
    margin-top: 0;
    align-self: self-end;
  }

  .title span:first-of-type {
    font-size: 3rem;
  }

  .expertise {
    margin: 0;
    width: 60%;
    align-self: self-start;
  }

  .img_wrapper {
    width: 300px;
    height: 400px;
  }
}
