.wrapper {
    width: 100%;
    height: var(--header-height);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.left {
    display: grid;
    grid-column: 1/5;
    background-color: black;
    color: white;
}

.svg {
    width: 30%;
    height: 75%;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23ffffff' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
    grid-column: 1/-1;
    grid-row: 1/-1;
    align-self: end;
    justify-self: center;
}

.container {
    grid-column: 1/-1;
    grid-row: 1/-1;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.helper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}

.h1, .h2 {
    text-transform: uppercase;
}

.h1 {
    font-size: 1.6rem;
}

.h2 {
    font-size: 3.5rem;
}

.subHeading {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.subHeading div {
    width: 30%;
    display: flex;
    justify-content: center;
}

.subHeading p {
    color: white;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: center;
}

.icons {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-start;
    padding: 0 2rem;
}

.icons a {
    margin: 1rem 0;
    border: 1px solid transparent;
    transition: transform .2s ease-in-out, color .3s ease-in-out;
}

.icons a:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--custom-green);
}

.right {
    grid-column: 5/-1;
    transform: translateY(10vh);
    position: relative;
    background: transparent;
    will-change: transform;
}

@media (max-width: 1100px) {
    .wrapper {
        height: 90vh;
    }

    .left {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .right {
        grid-column: 3/-1;
        grid-row: 1/-1;
        width: 50vw;
        height: calc(100% - 30vh);
        align-self: end;
        justify-self: end;
        transform: none;
    }

    .subHeading {
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
    }

    .subHeading > div > p {
        text-align: left;
    }
}

@media (max-width: 768px) and (max-height: 900px) {
    .wrapper > .right {
        grid-column: 4/-1;
        grid-row: 1/-1;
        height: calc(100% - 30vh);
    }
}

@media (max-width: 768px) {
    .wrapper {
        height: 90vh;
    }

    .left {
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .right {
        grid-column: 3/-1;
        grid-row: 1/-1;
        height: 60vh;
        align-self: end;
        transform: none;
    }

    .helper {
        height: 70vh;
    }

    .h1 {
        margin: 0;
    }

    .subHeading {
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
    }

    .subHeading > div > p {
        text-align: left;
    }
}

@media (max-width: 425px) {
    .wrapper {
        height: 100vh;
    }

    .helper {
        justify-content: flex-start;
    }

    .h1 {
        font-size: 1.25rem;
    }

    .h1,
    .h2 {
        align-self: flex-end;
        margin-right: 1rem;
    }

    .subHeading {
        align-self: flex-start;
        margin-left: 1rem;
    }

    .subHeading > div:first-of-type {
        margin-left: 1.1rem;
    }

    .subHeading > div:last-of-type {
        margin-left: 2rem;
    }

    .right {
        height: 50vh;
        grid-column: 3/-1;
        transform: translateX(-2rem);
    }

    .svg {
        width: 50%;
    }
}

@media (max-width: 375px) {
    .h1 {
        font-size: 1rem;
    }

    .h2 {
        font-size: 3rem;
    }

    .subHeading {
        font-size: 1rem;
    }
}

@media (max-width: 320px) {
    .subHeading {
        margin-left: 2.5rem;
    }

    .subHeading > div > p {
        line-height: 1.7rem;
    }

    .h1 {
        font-size: .9rem;
        margin-bottom: .5rem;
    }

    .right {
        height: 45vh;
        transform: none;
    }
}