.nav {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.ul {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.li:not(:last-of-type) {
    margin-right: 5rem;
}

.li {
    font-size: .8rem;
    text-decoration: none;
    list-style: none;
    padding-bottom: .5rem;
    position: relative;
    color: rgba(0, 0, 0, .8);
    transition: transform .3s;
}

.li a {
    color: rgba(0, 0, 0, .8);
    text-decoration: none;
    display: block;
}

.li:before {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    background-color: transparent;
    bottom: 0;
    transition: width .4s ease-in-out;
}

.li:not(:first-of-type):hover {
    transform: scale(1.1);
}

.li:not(:first-of-type):hover a {
    color: black;
}

.li:not(:first-of-type):hover:before {
    background-color: var(--custom-green);
    width: 100%;
}

@media (max-width: 1200px) {
    .li {
        font-size: .7rem;
        display: contents;
    }
}

@media (max-width: 425px) {
    .li:not(:first-of-type) {
        display: none;
    }
}
